@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/navigation";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

@-webkit-keyframes loadingText {
  0% {
    -webkit-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    -moz-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
  }

  100% {
    -webkit-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    -moz-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
  }
}

@-moz-keyframes loadingText {
  0% {
    -webkit-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    -moz-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
  }

  100% {
    -webkit-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    -moz-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
  }
}

@-o-keyframes loadingText {
  0% {
    -webkit-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    -moz-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
  }

  100% {
    -webkit-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    -moz-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
  }
}

@keyframes loadingText {
  0% {
    -webkit-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    -moz-border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
    border-radius: 54% 46% 63% 37% / 44% 58% 42% 56%;
  }

  100% {
    -webkit-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    -moz-border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
    border-radius: 34% 63% 37% 66% / 45% 55% 46% 54%;
  }
}
